
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Dette</title>
</head>
<body>
    <div class="container col-10 mt-4 mb-3 border shadow align-items-center justify-content-around rounded ">
        <form acton="" method="" class="col-md-5 d-flex align-items-center mt-4 mx-2 mb-5">
            <label for="inputCity" class="form-label  mx-3">Date</label>
            <input type="text" class="form-control" id="inputTel">
            <button action="" value="" type="button" class="btn btn-primary mx-3" id="Valider">Ok</button>
        </form>
        <div class="container rounded-3 col-11 mt-5 shadow p-1  rounded mb-5">
            <table class="table">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Verse</th>
                        <th scope="col">Due</th>
                    </tr>
                </thead>
                <tbody id="tBody"> 
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr> 
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>               
                </tbody>
            </table>
            <div class=" container col-12 d-flex align-items-center justify-content-center mt-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="paginationDemande">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>   
            </div>  
        </div>
    </div>
 

    <script src="../src/script.js"></script>

</body>
</html>